.resumeSection {
  padding: 4rem 2rem;
  background-color: #0a0a23; /* Restored your original background */
  text-align: center;
  position: relative;
  overflow: hidden;
}

.resumeTitle {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #ffffff;
}

.resumeContainer {
  max-width: 1000px;
  margin: 0 auto;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.resumeContent {
  flex: 1;
  min-width: 290px;
  text-align: left;
}

.characterContainer {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

.characterImage {
  width: 250px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Download Button Styling */
.downloadBtn {
   background-image: linear-gradient(
   45deg,
   var(--electric-blue),
   var(--purple-glow)
 );
 background-size: 200% 100%;
 color: var(--navy-blue-dark);
 border: none;
 padding: 0.6rem 1.8rem;
 border-radius: 40px;
 text-decoration: none;
 font-weight: bold;
 letter-spacing: 1px;
 transition: all 0.4s ease;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
 position: relative;
 overflow: hidden;
 cursor: pointer;
margin-top: 1.5rem;

}

.downloadBtn:hover {
   transform: translateY(-3px);
 background-position: 100% 0;
 box-shadow: 0 8px 25px rgba(100, 100, 255, 0.5);
 color: var(--white-smoke);
}
.resumeContent p {
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom:  40px; 
}
.resumeContent h1 {
  color: #ffffff;
  font-size: 1.3rem; /* adjust as needed */
  margin-bottom: 1.5rem; /* space between heading and button */
}
